body {
   	margin: 60px auto;
    	width: 75%;
}
.body2 {
	white-space: pre-line;
        color: black;
        background-color: rgb(255, 255, 255);
        padding: 20px;
        font-size: larger;
}
.main {
	background-color: rgba(255,255,255);
	border: 1px solid white;
	border-radius: 5px;
	padding: 20px;
	display: absolute;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

img {
	width: 400px;
	display: inline-block;
	margin: 10px;
}

/* The follwing css to resize video based on screen size */
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
/** LIGHTBOX MARKUP **/
.lightbox {
  /* Default to hidden */
  display: none;

  /* Overlay entire screen */
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  /* A bit of padding around image */
  padding: 1em;

  /* Translucent background */
  background: rgba(0, 0, 0, 0.9);
}

/* Unhide the lightbox when it's the target */
.lightbox:target {
  display: block;
}

.lightbox span {
  /* Full width and height */
  display: block;
  width: 100%;
  height: 100%;

  /* Size and position background image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
input[type="checkbox"]{
  display:none;
}

.flex{
  display: flex;
  align-items: center;
  height: 100vh;
}

.close{
  width: 2rem;
  height: 2rem;
  background-color: rgba(255,255,255,0.85);
  border-radius: 100%;
  display: block;
  font-size: 1px;
  text-indent: -999em;
  position: absolute;
  border: 1px solid #000;
  top: -1rem;
  right: -1rem;
  z-index: 999;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.35);
  transition: all 0.25s ease-out;
  &:hover,
  &:focus{
    transform: scale(1.1);
    background-color: rgba(255,255,255,1);
  }
}

.close:after{
  font-weight: 300;
  content: "×";
  text-indent: 0;
  font-size: 1.4rem;
  position: absolute;
  top: 0.15rem;
  left: 0.525rem;
}

.btn{
  font-family: "tondo", sans-serif;
  cursor: pointer;
  border: 1px solid #aaa;
  margin: 0 auto 3em;
  display: block;
  width: 200px;
  text-align: center;
  padding: 0.75em 1em;
  box-sizing: border-box;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  transition: all 0.1s ease;
  &:hover,
  &:focus{
    background-color: #333;
    border: 1px solid #333;
    color: white;
  }
}

#overlay{
  transition: opacity 0.35s ease;
  padding: 0em;
  box-sizing: border-box;
  opacity: 0;
  display: flex;
  align-items: center;
  position: absolute;
  background-color: rgba(0,0,0,0.85);
  width: 1px;
  height: 1px;
  top: 0;
  left: 0;
  & > *{
    display: none;
  }
}

input:checked + #overlay{
  width: 100%;
  height: 100%;
  padding: 1em;
  opacity: 1;
  @media (min-width: 500px) {
    padding: 2em;
  }
  @media (min-width: 900px) {
    padding: 4em;
  }
  & > *{
    display: block;
  }
}

.video-wrapper {
  box-sizing: border-box;
  min-width: 100%;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
